[project]
name = "app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "fastapi>=0.124.4",
    "httpx>=0.28.1",
    "prometheus-fastapi-instrumentator>=7.1.0",
    "uvicorn>=0.38.0",
]
